<div class="users">
<table class="table">
  
<h1>会員一覧</h1>

	<tbody>
<tr>
  <tr>
<% @users.each do |user| %>
<tr>
<td>
<%= link_to users_path do %><%= attachment_image_tag @user, :profile_image,fallback: "/no_image.jpg", class: "img-circle pull-left profile-thumb", size: '100x100' %>
<% end %></td>
<td><%=user.name %>
<%= link_to 'Show', user_path(user.id) %>
</td>
<td><% unless current_user == user %>
  <% if current_user.following?(user) %>
    <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'フォローを外す', class: 'btn btn-danger btn-block' %>
    <% end %>
  <% else %>
    <%= form_for(current_user.relationships.build) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'フォローする', class: 'btn btn-primary btn-block' %>

  <% end %>
<% end %></td>
<% end %>
</tr>
<% end %>
</table>
</div>