<div class="user-show">
    <div class="row">
      <div class="col-xs-3">

<div class="mypage">
<div class="profile-container">
 <%= link_to user_path do %><%= attachment_image_tag @user, :profile_image,fallback: "temple.png", class: "img-circle pull-left profile-thumb", size: '150x150' %>
 <% end %>
</div>
<table class="table">
  <td><h3 class="profile-name">name:<%= @user.name %></h3></td>
<tr>
  <td><h3 class="introduction">introduction:<%= @user.introduction %></h3></td>
</tr>
<tr>
  <td>
    <h3 class="following">フォロー
     <%= link_to  following_user_path(@user.id) do %>
      <%= @user.followings.count %>
    <% end %>
      </h3>
  </td>
</tr>
<tr>
<td><h3 class="followers">フォロワー
  <%= link_to followers_user_path(@user.id) do %>
  <%= @user.followers.count %>
  <% end %>
  </h3></td>
</tr>
</table>
<% if @user.id == current_user.id%>
<%= link_to "", edit_user_path(@user), class: "btn col-xs-12 btn btn-default glyphicon glyphicon-cog" %>
<% end %>
</div>
</div>
<div class="col-xs-9">
  <% if @posts.present? %>
　<% @posts.each do |post| %>
  <div class="media">
	<a class="media-left" href="#">
		<%= attachment_image_tag post, :image, class: "default_image", size: '400x300' %>
	</a>
	<div class="media-body">
		<h4 class="media-heading"><%= attachment_image_tag post.user, :profile_image,fallback: "temple.png", class: "img-circle pull-left profile-thumb", size: '50x50' %>
  <%=post.user.name %></h4>
  <br>
  <br>
	Title:<%= link_to post.title, post_path(post) %>
  <br>
  <br>
  Caption:<%=post.caption %>
  <br>
  <br>
  <%= post.created_at.strftime('%Y/%m/%d') %>
  <br>
  <br>
  <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>

  <% if post.favorited_by?(current_user) %>

  <%= link_to post_favorites_path(post), method: :delete  do %>
   <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
  <%= post.favorites.count %> いいね
  <% end %>

　<% else %>

  <%= link_to post_favorites_path(post), method: :post  do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%= post.favorites.count %> いいね
  <% end %>
  
  <% end %>
	</div>
  </div>
  <% end %>
  <% end %>

</div>
</div>
</div>
