<div class="main-contents">
　<%= form_tag(posts_path, :method => "get") do %>
  <%= text_field_tag :search %>
　<%= submit_tag "検索" ,:caption => nil ,class: "button is-info"%>
　<% end %>


　<% if @posts.present? %>
　<% @posts.each do |post| %>
  <div class="media">
	<a class="media-left" href="#">
		<%= attachment_image_tag post, :image, size: '400x300' %>
	</a>
	<div class="media-body">
		<h4 class="media-heading"><%= attachment_image_tag post.user, :profile_image,fallback: "temple.png", class: "img-circle pull-left profile-thumb", size: '50x50' %>
  <%=post.user.name %></h4>
  <br>
  <br>
	Title:<%= link_to post.title, post_path(post) %>
  <br>
  <br>
  Caption:<%=post.caption %>
  <br>
  <br>
  <%= post.created_at.strftime('%Y/%m/%d') %>
  <br>
  <br>
  <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>

  <% if post.favorited_by?(current_user) %>

  <%= link_to post_favorites_path(post), method: :delete  do %>
   <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
  <%= post.favorites.count %> いいね
  <% end %>

　<% else %>

  <%= link_to post_favorites_path(post), method: :post  do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%= post.favorites.count %> いいね
  <% end %>
  
  <% end %>
	</div>
  </div>
  <% end %>
  <% end %>
</div>

