<h1>投稿編集</h1>
<tr>
<td>Title:</td>
<td><%= @post.title%></td>
<td>Caption:</td>
<td><%= @post.caption %>
    <% if @user.id == current_user.id%>
<%= link_to "Edit", edit_post_path(@post.id), class: "btn btn-default" %>
<%= link_to "Destroy", post_path(@post.id), method: :delete, class: "btn btn-danger" %>
 <% end %>
 <% if @post.favorited_by?(current_user) %>
<li>
  <%= link_to post_favorites_path(@post), method: :delete do %>
    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
    <%= @post.favorites.count %> いいね
  <% end %>
</li>
<% else %>
<li>
  <%= link_to post_favorites_path(@post), method: :book do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%= @post.favorites.count %> いいね
  <% end %>
</li>
<% end %>
<ol>
  <% @post.post_comments.each do |post_comment| %>
    <li class="comment">
      <div class="comment-body bb">
        <div class="comment-avatar">
          <div class="avatar">
          </div>
        </div>
        <div class="comment-text">
          <div class="comment-author clearfix">
            <a href="#" class="link-author"><%=post_comment.user.name %></a>
            <span class="comment-meta">
              <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
            </span>
          </div>
          <div class="comment-entry"><%= post_comment.comment %>
             <% if post_comment.user == current_user %>
            <div>
              <%= link_to "削除", post_post_comments_path(post_comment.post, post_comment), method: :delete, class: "btn btn-danger pull-right" %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ol>
<%= form_for [@post, @post_comment] do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    </div>
  </div>
  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>

</td>

