<!DOCTYPE html>
<html>
  <head>
    <title>KyotoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="header">
      <div class="header-logo">京都めぐり</div>
      <div class="header-list">
      <% if user_signed_in? %>

       <li>
       <%= link_to 'トップページ', root_path,class: "btn btn-default"%>
       </li>
       <li>
       <%= link_to 'マイページ', user_path(current_user.id),class: "btn btn-default" %>
       </li>
       <li>
        <%= link_to '会員一覧',  users_path,class: "btn btn-default" %>
       </li>
       <li>
        <%= link_to '投稿一覧', posts_path,class: "btn btn-default"%>
       </li>
       <li>
        <%= link_to '新規投稿', new_post_path,class: "btn btn-default"%>
        </li>
        <li>
        <%= link_to 'ログアウト',destroy_user_session_path, method: :delete,class: "btn btn-default" %>
        </li>
        <% else %>
        <li>
        <%= link_to 'トップページ', root_path,class: "btn btn-default" %>
        </li>
        <li>
        <%= link_to 'サイト紹介', home_about_path,class: "btn btn-default" %>
        </li>
        <li>
        <%= link_to '新規登録', new_user_registration_path,class: "btn btn-default" %>
        </li>
        <li>
        <%= link_to 'ログイン', new_user_session_path,class: "btn btn-default" %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
  <%= yield %>
  </body>
</html>
